@import "tailwindcss";

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #a855f7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9333ea;
}
